@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "yekan";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/IranYekan/Yekan.woff") format("woff");
}

@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Roboto/roboto-light.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Roboto/roboto-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Roboto/roboto-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter/Inter-Regular.woff2") format("woff2");
}

@layer base {

  :root {
    direction: rtl;
    writing-mode: horizontal-tb;
    text-orientation: mixed;
  }

  *,
  *::after,
  *::before {
    outline: none;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    transition: all 200ms ease;
  }

  i {
    user-select: none;
  }
}


@utility flex-center {
  @apply flex items-center justify-center;
}

@utility ltr-text {
  direction: ltr;
  text-align: left;
}

@utility container {
  @apply mx-auto px-4 lg:px-2.5;
}

@theme {
  --color-darkText: #003464;
  --color-active-blue: #2196f3;
  --color-darkPrimary: #151d32;
  --color-box-dark: rgba(41, 47, 69, 1);
  --color-lightText: #f3f4f7;
  --color-lightPrimary: #f3fafe;
  --color-stoneCard: #e1e9ee;
  --color-gradientCostum: linearGradient(
    90deg,
    rgba(54, 54, 54, 0) 0%,
    #7e7e7e 48.5%,
    rgba(54, 54, 54, 0) 100%
  );
  --shadow-header: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  --shadow-custom: 0px 2px 7px 0px #00000026;
  --shadow-weatherDetails: 0px 4px 10px 0px #00000026;
  --shadow-dark: 0px 4px 10px 0px #a6a5a526;
  --radius-4xl: 2rem;
  --font-yekan: "yekan", "sans-serif";
  --font-Roboto-light: "Roboto Light", "sans-serif";
  --font-Roboto-regular: "Roboto Regular", "sans-serif";
  --font-Roboto-bold: "Roboto Bold", "sans-serif";
  --font-Inter-regular: "Inter Regular", "sans-serif";
  --breakpoint-xs: 480px;
}

.dark .recharts-cartesian-axis-tick text {
  fill: #f3f4f7 !important;
}
/* 
spacing: {
  4.5: "1.125rem",
  25: "6.25rem",
  30: "7.5rem",
  50: "12.5rem",
}, */

/* colors: {
  gradientCostum: "linear-gradient(90deg, rgba(54, 54, 54, 0) 0%, #7E7E7E 48.5%, rgba(54, 54, 54, 0) 100%)"
} */
